html {
	/*background: linear-gradient(
		to bottom,
		#000000,
		#000000 20%,
		#310209 20%,
		#310209 40%,
		#000000 40%,
		#000000 80%,
		#310209 80%
	);
	background-size: 100% 5px;*/
	background: linear-gradient(
		to bottom,
		#310209,
		#310209 33%,
		#000000 33%
	);
	background-size: 100% 3px;
	color: #ff2655;
	font-family: Rajdhani, sans-serif;
	font-size: 30px;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
	/* Extremely low contrast */
	/*scrollbar-color: #f4204f #b9163b;/**/
	/* Better, but not as authentic */
	scrollbar-color: #f4204f #000000;/**/
	scrollbar-width: thin;
	scrollbar-width: 6px;
}
form {
	width: 56.5%;
	max-height: 100%;
	overflow-y: auto;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(-100%, -50%);
	padding: 1em 1em 1em 0;
	box-sizing: border-box;
	text-transform: uppercase;
}
::selection {
	background: #ff2655;
	color: #000000;
}

@keyframes fade-in {
	from { opacity: 0; }
	  to { opacity: 1; }
}
body {
	/*animation: 3s fade-in;/**/
}

hr {
	background: #810f27;
	border: none;
	height: 2px;
	margin: 4px 0;
	max-width: 300px;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.big, h1 {
	font-size: 46px;
}
.small {
	font-size: 24px;
}
.spacer {
	margin-top: 16px;
}

#blackout {
	background: #000000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: none;
}
body, form, #modal {
	transition: opacity 0.25s;
}
[hidden],
#modal:not([hidden]) + form {
	opacity: 0;
	pointer-events: none;
	display: block;
}

#modal {
	background: #00000051;
	color: #8a6870;
	padding: 50px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}
#modal h1 {
	color: #ffffff;
	font-weight: normal;
	font-size: 40px;
}

input[type="text"],
input[type="password"],
select {
	background-color: #810f27;
	color: #ff2655;
	border: none;
	font-family: Rajdhani, sans-serif;
	font-size: 28px;
	font-weight: bold;
	width: 300px;
	height: 46px;
	box-sizing: border-box;
	text-align: center;
	transition: background-color 0.125s, color 0.125s;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:active,
input[type="password"]:focus,
input[type="password"]:hover,
select:active,
select:focus,
select:hover {
	background-color: #ff2655;
	color: #000000;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: #ff2655aa;
}
input[type="text"]:active::placeholder,
input[type="text"]:focus::placeholder,
input[type="text"]:hover::placeholder,
input[type="password"]:active::placeholder,
input[type="password"]:focus::placeholder,
input[type="password"]:hover::placeholder {
	color: #810f27;
}
select {
	appearance: none;
	-webkit-appearance: none;
	padding: 0;
	text-align: center;
	border-radius: 0;
	background-image: url("icons/dropdown.svg");
	background-position: 100% 50%;
	background-size: 46px 46px;
	background-repeat: no-repeat;
}
select:active,
select:focus,
select:hover {
	background-image: url("icons/dropdown-black.svg");
}
select > option {
	background-color: #45000d;
	color: #ff2655;
	text-align: center;
}

button,
input[type="submit"] {
	min-width: 213px;
	min-height: 48px;
	background: #262222;
	color: #8a6870;
	border: none;
	font-family: Rajdhani, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	clip-path: polygon(0 0, 0 100%, calc(100% - 8px) 100%, 100% calc(100% - 8px), 100% 0);
}
button:active,
input[type="submit"]:active {
	background: #221c1c;
}

#acpi {
	background-color: #810f27;
	background-image: url("icons/power.svg");
	background-position: 50% 50%;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	color: #ff2655;
	width: 64px;
	height: 64px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	transition: background-color 0.125s, color 0.125s;
}
#acpi:active,
#acpi:focus,
#acpi:hover {
	background-image: url("icons/power-black.svg");
	background-color: #ff2655;
	color: #000000;
}
#acpi-dropdown {
	position: fixed;
	bottom: 16px;
	right: 82px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #45000d;
	text-align: center;
}
#acpi-dropdown li {
	font-size: 20px;
	padding: 4px 8px;
	transition: background 0.125s, color 0.125s;
}
#acpi-dropdown li:focus,
#acpi-dropdown li:hover {
	background: #c81c40;
	color: #000000;
}

@font-face {
	font-family: Rajdhani;
	src: url("fonts/Rajdhani-Medium.ttf") format("truetype");
}
@font-face {
	font-family: Rajdhani;
	font-weight: bold;
	src: url("fonts/Rajdhani-Bold.ttf") format("truetype");
}
